.container.about-info {
  width: 95vw;
  height: 89vh;
  margin: 0 auto;
  position: relative;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  flex-direction: column;
}



.container.about-info #title {
  color: rgba(245, 25, 25, 1);
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 46px;
  line-height: 69px;
  margin-left: 7rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 0.24em;
}

.container.about-info .content {
  display: flex;
  flex-direction: row;
  height: 92%;
  width: 100%;
}

.container.about-info ul {
  height: 85%;
  width: 30%;
  overflow: scroll;
  display: flex;
  text-transform: uppercase;
  flex-direction: column;
  list-style: none;
  margin-top: 1.5rem;
  padding-left: 5rem;
}

.container.about-info li {
  position: relative;
  padding-left: 2.5rem;
  padding-bottom: 2.1rem;
  display: flex;
  min-width: 0%;
  max-width: 80%;
  font-size: 1.4rem;
  transition: color 0.7s;
  font-weight: 300;
    -moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.9);
  margin-top: 2rem;
}
.container.about-info li:before {
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  transition: background 0.7s;
  background: rgba(255, 255, 255, 0.9);
  position: absolute;
  left: -1rem;
  transform: translateY(23%);
}

.container.about-info li.active:before {
    background: red;
}

.container.about-info li.active{
    color: red;
    font-weight: 500;
}

.container.about-info li:not(:last-child):after {
  content: "";
  width: 2px;
  height: 100%;
  transform: translateY(2%);
  background: #d8d8d8;
  position: absolute;
  border-radius: 10px;
  left: -0.335rem;
  top: 2.05rem;
}

.know-more-card{
  margin-right: 1rem;
  margin-top: 2rem;
  position: relative;
  width: 60%;
  border-radius: 40px 5px 5px 40px;
  height: 85%;
  display: flex;
}

.know-more-details{
  position: relative;
  width: 55%;
  height: 100%;
  background: linear-gradient(102.8deg, rgba(25, 26, 56, 0.5) 12.2%, rgba(245, 25, 25, 0.5) 97.42%);
  border-radius: 40px 0 0 40px;
}
.know-more-details *{
  background-color: transparent;
}

.view-more-btn{
  z-index: 2;
  cursor: pointer;
  display: flex;
  background: transparent;
  align-items: center;
  position: absolute;
  left: 40%;
  top: 5%;
  text-transform: uppercase;
}
 .view-more-btn p{
  font-size: 0.8rem;
  text-align: justify;
  background-color: transparent;
  transition: all 0.5s ease-in-out;
}
 .view-more-btn p.pg2{
  opacity: 0;
}

 #view-more-arrow{
  transform: rotate(180deg);
  margin-left: 1rem;
  background-color: transparent;
  transition: all 0.5s;
}

 #view-more-arrow.pg2{
  transform: rotate(0deg);
}


.know-more-image{
  display: block;
  width: 45%;

  object-fit: cover;
  height: 100%;
  outline: none;
  border-radius: 0 5px 5px 0;
}

.know-more-details-fields{
  margin-left: 0;
  margin-top: 0;
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  display: flex;
  flex-direction: column;
  align-items: space-between;
}

.know-more-details-fields.active{
  margin-left: 3rem;
  margin-top: 5rem;
  opacity: 1;
  width: unset;
  height: unset;
}

.know-more-details-fields .field{
  
  width: 0%;
  height: 0%;
}
.know-more-details-fields.active .field{
  padding-right: 1.2rem;
  margin-bottom: 4rem;
  width: unset;
  height: unset;
}

.know-more-details-fields #name{
  color: rgba(244, 25, 25, 1);
  margin-bottom: 0.2rem;
  text-transform: uppercase;
}

.bold{
  font-weight: 500;
}

.know-more-details-fields #name-value{
  font-size: 1.5rem;
  font-weight: 300;
  display: block;
}

.know-more-details-fields #name-value.long{
  height: 7.5rem;
  border-radius: 10px;
  font-size: 1.2rem;
  overflow-y: scroll;
}

a{
  cursor: pointer;
  pointer-events: none;
  text-decoration: none;
  text-transform: uppercase;
}
a#name-value.active{
  pointer-events: visible;
}


#navigation-dots{
  position: absolute;
  display: flex;
  left: 45%;
  bottom: 6%;
  width: auto;
  height: 1rem;
  background: transparent;
  align-items: center;
  padding-right: 2rem;
}
#navigation-dots > .dot{
  background: transparent;
  margin-left: 1rem;
}
.dot img{
  position: absolute;
  background: transparent;
  opacity: 0;
  transition: all 0.5s;
}

.dot img.active{
  opacity: 1;
}

@media only screen and (max-height: 780px) {
  .know-more-details{
    overflow-y: hidden;
  }
  .know-more-details-fields.active{
    margin-top: 2rem;
  }
  .know-more-details-fields.active #name-value{
    font-size: 1rem;
  }
}
@media only screen and (max-height: 720px) {
  .container.about-info {
    height: 80vh;
    overflow-y: hidden;
  }
   .view-more-btn p{
      font-size: 0.6rem;
  }
   .view-more-btn i{
    font-size: 1rem;
  }
  .know-more-details-fields.active{
    margin-top: 2rem;
  }
  .know-more-details-fields.active #name-value{
    font-size: 0.8rem;
  }
  .know-more-details-fields #name-value.long{
    /* height: auto; */
    display: flex;
    min-height: 0rem;
    max-height: 6.5rem;
  }
}
@media only screen and (max-width: 1690px) {
  .container.about-info li {
    width: 90%;
  } 
}
@media only screen and (max-width: 1169px) {
  .container.about-info li {
    width: 95%;
  } 
}
@media only screen and (max-width: 1000px){
  .container.about-info li {
    font-size: 1rem;
  } 
}