@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    background-color: #000021;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
*::-webkit-scrollbar{
    display: none;
}

*::selection{
    background:rgba(245, 25, 25, 0.5);
}

.navbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: sticky;
    z-index: 100;
    top: 0rem;
    -moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;
    padding: 1.2rem 4rem;
}
.navbar > ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.description img{
    display: block;
    width: 59px;
    height: 59px;
}

.description li:first-child{
    margin-right: 25px;
}

.description > li:nth-child(2) > p:nth-child(1){
    font-size: 18px;
    font-weight: 500;
}

.description > li:nth-child(2) > p:nth-child(2){
    font-size: 12px;
    font-weight: 400;
}


.navbar li{
    list-style: none;
}

.navbar > ul:nth-child(2){
    width: 35%;
}

.links li{
    color: rgba(180, 180, 180, 0.7);
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
    transition: color 1s ease-in-out;
}

.links li.active{
    color: rgba(245, 25, 25, 1);
    font-weight: 700;
}