.fleet-icons-icon{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 1s ease-in-out;
}

.fleet-icons-icon.active{
    border-color: red;
}

.fleet-icons-icon > img {
    position: absolute;
    height: 9rem;    
    width: 9rem;
    opacity: 0;
    transition: all 1s ease-in-out;
}
.fleet-icons-icon > img.active {
    opacity: 1;
}