.container.fleet{
    margin: auto;
    margin-top: 0.5rem;
    width: 90vw;
    height: 80vh;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    justify-content: space-between;
    display: flex;
}
.container.fleet *{
    scroll-behavior: smooth;
}

.fleet-icons-container{
    width: 15%;
    height: 100%;
    display: flex;
    margin-top: 1.5rem;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.toggle{
    height: 3rem;
    width: 3rem;
    object-fit: cover;
    cursor: pointer;
}
#up{
    margin-bottom: 0.1rem;
}
#down{
    margin-top: 0.5rem;
}
.fleet-icons{
	overflow-y: auto;
    width: 100%;
    height: 80%;
    display: inline-block;
}
.fleet-icons-icon{
    margin: auto;
    margin-top: 1rem;
    height: 10rem;
    width: 10rem;
    border-radius: 1rem;
    border: 1px solid white; 
}

.fleet-info{
    left: 17%;
    width: 25%;
    height: 100%;
    position: absolute;
    background-color: #191938;
    border-radius: 3rem;
    transition: all 2s ease-in-out;
}

.fleet-info *{
    background-color: transparent;
}
.fleet-info > #expanded-state{
    opacity: 0;
    transition: all 2s ease-in-out;
    position: absolute;
    height: 0;
}

.fleet-info > #main-state{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 10rem; /* to let the transition happen smoothly */
    /* display: flex; */
    transition: all 2s ease-in-out;
    position: relative;
    opacity: 1;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 92.2%;
}
#main-state *{
    margin: auto;
}


#main-state > h1, #expanded-state h1{
    border-bottom: 1px solid red;
    /* position: absolute; */
    width: 100%;
    font-weight: 400;
    padding-right: 3rem;
    background-color: transparent;
    font-size: 2.6rem;
}
#main-state > #body{
    font-weight: 400;
    max-height: 45%;
    text-align: left;
    overflow-y: scroll;
    margin-top: 1rem;
    font-size: 1.3rem;
}
#main-state > #view-more-btn{
    width: 100%;
    height: 4rem;
    margin-top: 1.5rem;
    border-radius: 1rem;
    cursor: pointer;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
#main-state > #mini-stats{
    margin-top: 1.5rem;
}
#main-state > #mini-stats td{
    text-align: end;
    padding-right: 1rem;
    padding-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 300;
}

.fleet-info.expanded{
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 0.1rem solid white;
    background-color: #1d1d4569;
    left: 5%;
    width: 90%;
}

.fleet-info.expanded *{
    background: transparent;
}

.fleet-info.expanded #remove-expanded{
    position: absolute;
    cursor: pointer;
    top: 2.5%;
    font-size: 250%;
    right: 2.5%;
}
.fleet-info.expanded > #main-state{
    opacity: 0;
    position: absolute;
}
.fleet-info.expanded > #expanded-state{
    opacity: 1;
    position: relative;
    width: 100%;
    margin-top: 1rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#expanded-state > #text-details{
    width: 50%;
    height: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 3rem 0 0 3rem;
}
#text-details > h1{
    text-align: center;
    font-weight: 300;
}
#text-details > #body{
    margin-top: 2rem;
    height: 75%;
    text-align: left;
    font-size: 1.3rem;
    font-weight: 400;
    overflow-y: scroll;
}

#expanded-state.plane > #graph-details{
    width: 50%;
    height: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 0 3rem 3rem 0;
}
#expanded-state.drone > #graph-details{
    display: none;
}

#graph-details > h1{
    font-weight: 300;
}

#graph-details > #plot-graph{
    margin-top: 2rem;
    width: 100%;
    height: 40%;
}

#graph-details > #graph-toggle-control-panel{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
}

#graph-toggle-control-panel i{
    padding: 2rem;
    border-radius: 50%;
    cursor: pointer;
}

.fleet-model{
    width: 55%;
    height: 95%;
    border-radius: 2rem;
}
.fleet-model canvas{
    border-radius: 2rem;
}

