@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*::-webkit-scrollbar{
    display: none;
}
  
/* .sponsors_image{
    width:20vw;
    height:auto;
    margin-left:30vw;
    margin-top: 20vh;
} */
/* .main_div {
    position: relative;
    top: 10vh;
    /* border: 1px solid red; */
/*  */
/* .sponsors_image:hover {
    opacity: 0.9;
    transform: scale(1.1);
} */
.popup_window{
    opacity: 0;
    position: absolute;
    width: 70vw;
    height: 70vh;
    display: flex;
    flex-direction: row;
    left:15%;
    top:10%;    
    background: linear-gradient(105deg, rgba(0,0,33,1) 0%, rgba(2,0,36,0.7934524151457458) 100%, rgba(0,212,255,1) 100%);
    /* background: #000021; */
    border: 0.5px solid #FFFFFF;
    box-sizing: border-box;
    border-radius:42px; 
}

#back_button{
    position: absolute;
    top:5%;
    left: 5%;
    color: #f1f1f1;
    font-size:35px;
    font-weight: bold;
    transition: 0.3s;
}

#back_button:hover {
    cursor:pointer;
}
.image_div{
    position: relative;
    width: 50%;
}

.popup_image{
    position: relative;
    width: 90%;
    height: 70%;
    padding:5em; 
    margin:auto; 
}

.description_container{
    position: relative;
    top:12%;
    left:5%;
    right:5%;
    width:40%;
    height:100%;

}
.sponsors_title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    margin: auto;
    color:#FFFFFF;
    font-size: 3.5rem;
}
.image_description{
    
    position: absolute;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: center;
    margin-top: 2%;
    color: #FFFFFF;
    overflow: scroll;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.active{
    opacity: 0.8;
    z-index: 10;
    animation : open 1s forwards;
}
.inactive{
    opacity : 0;
    z-index: -10;
}
/* @keyframes open {
    0% {
        transform:scale(0);
    }
    100%{
        transform: scale(1);
    }
} */
#toBeBlur.blur{
    filter: blur(25px);
    user-select: none;
    pointer-events: none;
}


