@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*::-webkit-scrollbar{
    display:none;
}

body {
    background-color:  #000021;
    height: 100vh;
    width: 100vw;
}
#container{
    width:100%;    
    height: 100%;
    overflow: hidden;
}
#toBeBlur{
    width:100%;    
    height: 100%;
}
#title-container{
    position: relative;
    width: 100;
    height: 30%;
    top: 3.5%;
    left: 2.5%;
}
#title_border {
    position: absolute;
    left: 0.3%;
    top: -10%;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 19rem;
    line-height: 1rem;

    text-align: center;

    color: #000021;
    text-shadow: -1px 1px 0 #ffff,
                  1px 1px 0 #ffff,
                  1px -1px 0 #ffff,
                 -1px -1px 0 #ffff;
}
#title_filled {
    position: absolute;
    left: 1%;
    top: -10.5%;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 19rem;
    line-height: 1.5rem;
    text-align: center;
    color: #FFFFFF;;
}
.sponsors_card_container{
    position: relative;
    top: 26vh;
    left: 0;
    width: 100vw;
    height: 36vh;
    color: black;
    overflow-x: scroll;
    overflow-y: hidden;
    z-index: 5;
    /* background-color:orange; */
    /* display: none; */
  }
  .card_content {
    position: absolute;
    list-style: none;
    height: 100%;
    display: flex;
    animation: scrolling 20s linear infinite;
  }
  .card_content:hover {
    animation-play-state: paused;
    cursor: pointer;
  }
  @keyframes scrolling {
    0% { transform: translate(0); }
    50% { transform: translate(-230vw);}
  }
  .sponsors_logo_card {
    display: flex;
    justify-content: center;
    align-items:center ;
    position: relative;
    width: 35vw;
    height: 100%;
    font-size:  5rem;
    color: #111;
    object-fit: contain;
    /* border: 2px solid red; */
    margin: 0 10px;
    /* background-color:#fff; */
  }
  .sponsors_logo_card img{
    position: absolute;
    width: 496px;
    height: 126px;
  }
  .animateStop{
    animation-play-state: paused;

  }
  
