body{
    margin: 0 0;
    background-color:rgb(0,0,34,100%)
}
#title{
    height: 40px;
    position: absolute;
    top:120px;
    left: 320px;
}

#img_1{/*Polygon 9 (1) top left*/
    position: absolute;
    width:200px;
    height: auto;
    left: 510px;
    top: 200px;
}
#img_2{/* left most bottom vector 3*/
    position:absolute;
    width: 100px;
    height: auto;
    left: 495px;
    top: 250px;
}
#img_3{/*left most top vector 4*/
    position:absolute;
    width: 100px;
    height: auto;
    left: 485px;
    top: 250px;
}
#img_4{/*middle top polygon 13(bottom)*/
    position: absolute;
    width: 190px;
    height: auto;
    top:230px ;
    left: 640px;
}
#img_5{/*middle polygon 10 (top)*/
    width: 220px;
    height: auto;
    position: absolute;
    top: 220px;
    left:620px ; 
}
#img_6{/*right top polygon 8(bottom)*/
    width: 220px;
    height: auto;
    position: absolute;
    top: 195px;
    left: 760px;
}
#img_7{/*right top polygon 2(top)*/
    width: 215px;
    height: auto;
    position: absolute;
    top: 182px;
    left:775px;    
}
#img_8{/* left most bottom polygon 11(bottom)*/
    width: 240px;
    height: auto;
    position: absolute;
    top:450px;
    left: 510px;
}
#img_9{/* left most bottom polygon 6(top)*/
    width: 250px;
    height: auto;
    position: absolute;
    top: 430px;
    left: 480px;
}
#img_10{/*middle bottom polygon 4*/
    width: 210px;
    height: auto;
    position:absolute;
    top:423px;
    left: 655px;
}
#img_11{/*right most vector 2*/
    position: absolute;
    top: 190px;
    left: 890px;
}
#img_12{/*right bottom polygon 12(bottom)*/
    width:150px;
    position: absolute;
    top: 450px;
    left: 820px;
}
#img_13{/*right bottom polygon 5(top)*/
    width: 150px;
    position: absolute;
    top: 438px;
    left: 807px;
}
#elp{
    position: absolute;
    top:580px;
    left:870px;
}
#elp_1,#elp_2{
    flex: 1;
    padding-right: 0.3rem;
}
#gal_img1{
    height: 180px;
    position: absolute;
    left:80px;
    top:300px;
    z-index: 2;
}
#gal_img2{
    height: 180px;
    position: absolute;
    left: 1420px;
    top:300px;
}
#tri1{
    position: absolute;
    width:230px;
    bottom: 41px;
    z-index: 1;
}
#tri2{
    position:absolute;
    width:230px;
    bottom: 70px;
}
#tri3{
    width: 190px;
    position:absolute;
    top:0;
    left:1346px;
}
#tri4{
    width:170px;
    position:absolute;
    top:0;
    left: 1366px;
}
#tri5{
    height:140px;
    position:absolute;
    bottom:0;
    left: 1109px;
}
#tri6{
    height:140px;
    position:absolute;
    bottom:0;
    left: 1110px;
}
#tri7{
    z-index: 1;
    position: absolute;
    top: -10px;
    left:359px;
}
#tri8{
    z-index: 0;
    top: -10px;
    position: absolute;
    left:430px;
}
#left_tp{
    width: 3px;
    height: 140px;
    position: absolute;
    top:90px;
    left:115px;
}
#left_m{
    width: 3px;
    height: 140px;
    position:absolute;
    top:150px;
    left:95px;
}
#left_bt{
    width: 3px;
    height: 175px;
    position: absolute;
    bottom: 90px;
    left:95px;
}
#right_tp{
    width: 3px;
    height: 200px;
    position: absolute;
    left: 1440px;
    top:90px;
}
#right_m{
    width: 3px;
    height: 150px;
    position: absolute;
    left: 1440px;
    bottom:120px;
}
#right_bt{
    width: 3px;
    height: 180px;
    position: absolute;
    left: 1425px;
    bottom:30px;
}
#btn_left{
    position: absolute;
    top: 370px;
    left: 210px;
}
#btn_right{
    position: absolute;
    top: 370px;
    left: 1250px;
}