.container.gallery{
    width: 100%;
    height: 89vh;
    overflow-y: hidden;
}
.container.gallery .title{
    width: 100%;
    height: 10%;
    padding-left: 2rem;
    position: relative;
}

.container.gallery .title > div:nth-child(1){
    position: absolute;
}
.title #back-text{
    font-weight: 700;
    font-size: 5rem;
    color: rgba(69, 69, 94, 0.2);
}
.title #fore-text{
    padding-left: 1rem;
    width: 50%;
    height: 100%;
    transform: translateY(40%);
    font-size: 2rem;
    background-color: transparent;
}
#fore-text font{
    font-size: 3rem;
    background-color: transparent;
    font-weight: 500;
}

#fore-text font:first-child{
    color: white;
}
#fore-text font:last-child{
    color: red;
}
.image-main-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70vh;
    overflow-y: hidden;
    margin-top: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
}
.image-main-container i{
    cursor: pointer;
}
.image-main-container #focused-image{
    width: 60%;
    height: 90%;
    position: relative;
    border-radius: 2rem;
}
.image-main-container #focused-image > img{
    object-fit: cover;
    border: 2px solid white;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    width: 100%;
    height: 100%;
    border-radius: 2rem;
}
.image-main-container #focused-image > .mini-info{
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    border-radius: 2rem;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
    border: 2px solid white;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 2rem;
    padding-left: 2rem;
}
.image-main-container #focused-image > .mini-info > p{
    background-color: transparent;
    width: 100%;
}

.image-main-container #focused-image > .mini-info > .heading{
    color: red;
    font-size: 2rem;
    font-weight: bold;
}


.image-main-container #focused-image > .mini-info:hover{
    opacity: 1;
}


.image-main-container #all-images-container{
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
#all-images-container .material-icons{
    background-color: transparent;
    color: red;
    font-size: 3rem;
}

#all-images-container .main-container{
    height: 90%;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    align-items: center;
    justify-content: center;
}

.main-container .image-card{
    width: 10rem;
    height: 10rem;
    margin: 1rem;
    z-index: 10;
    border-radius: 1.5rem;
}

.main-container .image-card > img{
    object-fit: cover;
    display: block;
    border: 2px solid white;
    width: 10rem;
    height: 10rem;
    cursor: pointer;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    z-index: 5;
    transition: all 0.5s ease-in-out;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    border-radius: 1.5rem;
}

.main-container .image-card.active img{
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    border: 2px solid red;
}