.container.gallery{
    width: 100%;
    height: 95vh;
    overflow: hidden;
}
.container.gallery .title{
    width: 100%;
    height: 10%;
    padding-left: 2rem;
    margin-top: 5%;
    position: relative;
}

.container.gallery .title > div:nth-child(1){
    position: absolute;
}
.title #back-text{
    font-weight: 700;
    font-size: 5rem;
    color: rgba(69, 69, 94, 0.2);
}
.title #fore-text{
    padding-left: 1rem;
    width: 50%;
    height: 100%;
    transform: translateY(40%);
    font-size: 2rem;
    background-color: transparent;
}
#fore-text font{
    font-size: 3rem;
    background-color: transparent;
    font-weight: 500;
}

#fore-text font:first-child{
    color: white;
}
#fore-text font:last-child{
    color: red;
}
.image-main-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70vh;
    margin-top: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
}
.image-main-container #focused-image{
    width: 60%;
    height: 90%;
    background-color: aqua;
    border-radius: 2rem;
}
.image-main-container #all-images-container{
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
#all-images-container .material-icons{
    background-color: transparent;
    color: red;
    font-size: 3rem;
}

#all-images-container .main-container{
    height: 90%;
    width: 90%;
    background-color: white;
}