@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');


.navbar{
    margin: 20px 20px 0;
    width: 90%;
    height: 80px;
    display: flex;
    margin: auto;
    padding-top: 1.2rem;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    justify-content: space-between;
}
.navbar *{
    z-index: 1;
}

#team-info{
    width: 30vw;
    display: flex;
    color: white;
    align-items: center;
    align-self: start;
}
#logo{
    background-image: url("../assets/logo.png");
    background-size:contain;
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
}
#text-info{
    padding: 0 0 0 20px;
}
#text-info p:nth-child(1){
    font-size: 18px;
    font-weight: 700;
}
#text-info p:nth-child(2){
    font-size: 12px;
    font-weight: 400;
}
#page-routes{
    margin-bottom: 15px;
    width: 30%;
}

#page-routes ul{
    z-index: 100;
    display: flex;
    justify-content: space-between;
    list-style:none;
}
#page-routes li{
    color: white;
    font-weight: 300;
    cursor: pointer;
}
#page-routes .active{
    color: red;
}